{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^\\$env/(.*)$",
    "",
    "<TYPES>",
    "<TYPES>^@lucide/svelte$",
    "",
    "^\\$app/(.*)$",
    "",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^\\$lib/(?!assets/)(.*)$",
    "",
    "^\\$components/(.*)$",
    "",
    "^@lucide/svelte$",
    "^\\$lib/assets/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "overrides": [
    {
      "files": "*.svelte",
      "options": { "parser": "svelte" }
    }
  ],
  "tailwindStylesheet": "./src/styles/app.css"
}
